{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">SOONORADIO DIGITAL</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt nesciunt voluptas dolorem iure, 
        numquam illo in velit maiores soluta ducimus, corporis harum labore unde obcaecati possimus minus et consequuntur.
        Odio laborum autem, molestias doloremque, vitae officia explicabo, maiores placeat ad illum cumque ea. Inventore 
        quibusdam mollitia pariatur esse. Aliquam mollitia nostrum quas sequi veniam dignissimos. Fuga consequuntur ipsam iure 
        excepturi architecto eos saepe, omnis repudiandae ad ipsa vel commodi maxime. Quas numquam temporibus provident quasi 
        nulla dolorum blanditiis rerum itaque vel ad dignissimos quo, nisi pariatur soluta fugiat atque, libero amet veritatis
        expedita accusamus enim assumenda? Nesciunt, impedit perferendis.</p>

      <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-secondary" href="/singup/">
            Singup
        </a>
      </div>
    </section>
</main>
{% endblock %}